{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_record') }}" method=post class=add-record>
    <dl>
      <dt>Date:
        <dd>Year:<input type=text size=8 name=year>
            Month:<input type=text size=8 name=month>
            Day:<input type=text size=8 name=day>
            <dt>Time Length:
              <dd><input type=text size=20 name=tlen>
                  <dd><input type=submit value=Submit>
    </dl>
  </form>


  <ul class=weeds>
    {% if records|length > 0 %}
      <svg width="283" height="135">
        {% for record in records %}
          {% if (loop.index-1)%7 == 0 %}
            <g transform="translate({{ (loop.index-1)/7*17 + 18 }}, 18)">
            <rect x="0" y="{{ (loop.index-1)%7*17 }}" width="15" height="15" data-original-title="{{ loop.index }}" style="fill:rgb({{ record.r}}, {{ record.g }}, {{ record.b }});"></rect>
            {% elif (loop.index-1)%7 < 6 %}
            <rect x="0" y="{{ (loop.index-1)%7*17 }}" width="15" height="15" data-original-title="{{ loop.index }}" style="fill:rgb({{ record.r}}, {{ record.g }}, {{ record.b }});"></rect>
          {% else %}
            <rect x="0" y="{{ (loop.index-1)%7*17 }}" width="15" height="15" data-original-title="{{ loop.index }}" style="fill:rgb({{ record.r}}, {{ record.g }}, {{ record.b }});"></rect>
            </g>
        {% endif %}
        {% endfor %}
      </svg>
    {% else %}
      <li><em>Unbelievable.  No records here so far</em>
    {% endif %}
  </ul>
{% endblock %}
